@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,700;1,900&display=swap');

:root{
    --pink: #F3ACB4;
    --mainFont: Muli;
    --mainFontWeight: 700;

}

.App{
    text-align:center;
    font-family: var(--mainFont);
}


h2{
    font-size: 2em;
    text-align:center;
}

.options.selected{
    background-color: var(--pink);
    color:white;
}


.options{
    padding:15px 0;
    border: 3px solid var(--pink);
    cursor:pointer;
    width:100%;
    
    text-align: center;
    background-color:#fff;
    font-weight:bold;

    margin:30px 0;
}

button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    background-color: #ffffff;
    border:3px solid var(--pink);
    padding: 15px 32px; 
    color:var(--pink);
    outline:none;


    font-style:italic;
    text-transform: lowercase;
    font-size:1em;
    font-weight:700;

    cursor:pointer;
}

ul{
    list-style-type:none;
}

ul li{
    margin:20px;
}

body{
    display:flex;
    justify-content:center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    background-color:#ffffff;
    color:var(--pink);

    font-style:italic;
    text-transform: lowercase;

    
}


@media(max-width: 800px){
    .options{
        max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top:40px;
    }

    .questionNum{
        display:none;
    }
}